/* .home__down {
    height: 186px;
    margin-top: 55px;
} */

/* .container {
    border: 1px solid red;
} */

.home__down-description {
    margin-bottom: 41px;
    padding: 4px 21px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 18px;
    line-height: 178%; /* or 32px */
    text-align: center;
    color: #000000;
}

/* .home__block-1 {
    height: 156px;
    width: 330px;
} */

.home__paragraph__block-1 {
    /* padding: 4px 21px 36px; */
    margin-bottom: 36px;
}

/* .home__block-2 {
    height: 186px;
    width: 330px;
} */

.home__paragraph__block-2 {
    /* padding: 4px 16px 36px; */
    margin-bottom: 36px;
}

/* .home__block-3 {
    height: 154px;
    width: 330px;
} */

.home__paragraph__block-3 {
    /* padding: 4px 21px 36px; */
    margin-bottom: 36px;
}

.home__down-line {
    /* margin-top: 41px; */
    margin-bottom: 104px;
    border-bottom: 1px solid #BDBDBD;
}